.imagem {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto 0;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.esquerda{
    background-color: #869042;
    flex: 0 0 400px;
    max-width: 247px;
    color: #000000;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;;
    
}


.esquerda * {
    max-width: 100%;
    min-width: 0;
    word-break: break-word;
    box-sizing: border-box;
}

.direita{
    flex: 1 1 auto;
    min-width: 0px;
    background-color: #ffffff;
}

body{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100vh;
    background-color: rgb(248, 248, 248);
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.container{
    width: 80%;
    max-width: 210mm;
    min-height: 297mm;
    border: 2px solid #333;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid #bebebe;
}

.profile-text h2{
    text-align: center;
    font-size: 1.5rem;
}

.profile-text p{
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: 1px;
}

.informacao-contato{
    text-align: center;
    position: relative;
}

.informacao-contato .titulo{
    font-size: 1.1rem;
}

.informacao-contato .texto{
    font-size: 14px;
}

.informacao-contato ul{
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
}

.informacao-contato li{
    display: flex;
    align-items: left;
    padding-top: 12px;
    padding-left: 4%;
}


.informacao-contato .icone{
    width: 25px;
    color:#101204;
    flex-shrink: 0;
}


.informacao-contato.idiomas h2 {
  text-align: center; 
  font-size: 1.1rem;
}

.idiomas .lista-idiomas{
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-align: left;
    gap: 8px;
}

.idiomas .nome-idioma{
    display: block;
    margin-bottom: 10px;
    margin-left: 2px;
}

.idiomas .barra-fundo {
  width: 100%;
  height: 10px;
  background-color: #d7d9d1;
  border-radius: 8px;
  overflow: hidden;
  align-self: center;
}


.idiomas .lista-idiomas li {
  margin-bottom: 10px; 
  flex-direction: column;
  align-items: stretch;
  padding-top: 0px;
  padding-left: 0px;
}

.idiomas .barra-preenchimento {
  height: 100%;
  background-color: #24270d;
  border-radius: 4px;
  width: 0; 
  
  transition: width 0.5s ease;
}

.idiomas .nivel-80 {
  width: 80%;
}

.idiomas .nivel-100{
    width: 100%;
}


/* Regra principal para os itens da lista de educação */
.educacao li {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left; 
}

.educacao h4{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.educacao h5{
    font-weight: normal;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
}

.informacao-contato a {
    font-size: 14px;
    color: rgb(0, 0, 0);
    transition: color 0.3s, transform 0.3s;
}

.informacao-contato a:hover {
    color: rgb(210, 252, 208);
    transform: scale(1.1); /* aumenta levemente */
}

.direita{
    padding-left: 20px;
    padding-right: 35px;
}


.perfil li{
    list-style: none;
    text-align: justify;   /* texto justificado */
    width: 100%;            
    margin: 0 auto;         
}

.sobre{
    text-align: left;
}

.Nivel-hablidades {
  width: 100%;
  max-width: 400px; /* largura máxima do bloco */
  margin: 10px auto;
}

/*
.barra-fundo {
  background-color: #ddd;   
  border-radius: 10px;
  overflow: hidden;           
  height: 15px;
}

.barra-preencimento {
  height: 100%;
  background-color: #4CAF50;  
  border-radius: 10px 0 0 10px;
  transition: width 0.6s ease; 
}

 
.nivel-50 { width: 50%; }
.nivel-70 { width: 70%; }
.nivel-90 { width: 90%; }

.experiencia h4{
    font-size: 15px;
    margin-top: 5px;
}

.experiencia h5{
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
}
*/